/* Animaciones y Estilos Globales */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.7s ease-in-out;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

/* Navbar */
.navbar-nav .nav-link:hover {
    color: #ff6347 !important; /* Color destacado */
    text-decoration: underline;
}

/* Tarjetas */
.hover-effect:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

/* Footer */
footer a:hover {
    color: #000;
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 1.5S, box-shadow 1.3s;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .grid-item h5 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .grid-item p {
    margin: 0;
    font-size: 16px;
  }
  
  .grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  